[2018-07-24 15:02] nc6 opened #29 "invalid character '/' in name"
Trying to build the `funflow` package using this branch:

https://github.com/tweag/funflow/tree/nc/snack/funflow

[code]

Results in the following error:

error: invalid character '/' in name 'Control/Funflow/External/Executor.hs-single-out'
(use '--show-trace' to show detailed location information)
snack:
Ran commands:
nix-build - --no-out-link --argstr specJson '{
  "owner": "NixOS",
  "repo": "

[2018-07-24 15:03] nmattia commented on #29
N.B.: https://github.com/tweag/funflow/tree/cebf994d1d969cefb0758b978aab31aff5f92337/funflow

[2018-07-24 15:06] nc6 opened #30 "Invalid character in name when main module has a directory path"
Given an executable qualified by a directory, `snack` complains about an invalid character in the derivation name:

With this `package.yaml` section:
[code]

[code]

This may be the same issue as #29

[2018-07-24 16:05] nmattia commented on #29
Ok I'm pretty sure the issue is here: https://github.com/nmattia/snack/blob/dde00575c5c844cf5d32ce397ad3205103c81dc0/snack-lib/files.nix#L27

The entire file name is passed as the derivation name, which Nix is unhappy about. There's apparently no function Nixpkgs to nixify a name but @zimbatm pointed out that this could be reused:

https://github.com/moretea/yarn2nix/blob/8df1cee02f53bbb58ec0479fa

[2018-07-24 16:10] Gabriel439 opened #31 "`snack build` fails on the `snack` repository"
Steps to reproduce:

[code]

[2018-07-24 16:36] ixmatus commented on #31
I think the problem here is that `snack` expects the user to have (>=) Nix 1.12 installed. I do but ran into another issue with this self-building example:

[code]

[2018-07-25 09:09] Heimdell opened #32 "No `snack test` capability"
The most used thing of `stack` I use is `stack test --nix --fast`.
Is there anything like that here?

[2018-07-25 10:12] nmattia commented on #32
Very good question!

The `--nix` doesn't have a counterpart in snack because snack only uses nix. For `--test` I'm not sure how to go about this yet. Snack will need to support some notion of flags and will need to be able to differentiate executables (proper executable, test executable, benchmark). It's something that's been on my mind but I have no action plan yet, all suggestions are welcome. S

[2018-07-25 12:37] basvandijk opened #33 "Handle .hsc files"
Cabal [automatically handles](https://github.com/haskell/cabal/blob/1c28c09953daae5cebaf1a212a2b4dfe301ef094/Cabal/Distribution/Simple/PreProcess.hs#L668) `.hsc` files. It would be cool if snack could also handle these files.

One particularly complex project that also uses `hsc2hs` is [`haskell-opencv`](https://github.com/LumiGuide/haskell-opencv). Besides `hsc2hs` it also uses `inline-c` and it

[2018-07-25 19:17] #29 closed

[2018-07-25 20:35] nmattia commented on #31
@ixmatus I've opened a PR for that particular Nix 1.12 issue: #35

@Gabriel439 @ixmatus the following should work, provided that #35 and #36 are merged (the former makes it possible to build snack with nix < 1.12 and the latter makes it possible to run a pure shell):

[code]

In your case the issue is that you're not in the directory where the `snack.nix` is. Will need to work on the error reporti

[2018-07-25 23:41] pikajude opened #37 "Confusing error if --package-yaml argument isn't a valid Nix path literal"
[code]

Looks like the argument to `-p` is just passed verbatim to Nix, limiting it to valid Nix path literals (which `./package.yaml` happens to be). I'd like it here if relative path names were resolved according to `$PWD`, like they are with most Unix tools, and turned into proper paths.

[2018-07-26 00:09] pikajude opened #38 "Dependencies with version constraints"
e.g. ```error: attribute 'base             >= 4.7 && < 5' missing, at /nix/store/5yv66bqprl22pzbpbq1azx7bjylzsw23-snack-lib/default.nix:27:18```

It looks like snack tries to use every string in the `dependencies` list as an attribute name in the `haskellPackages` set. Should strip trailing spaces & version constraints here.

[2018-07-26 09:11] nmattia commented on #38
mh odd, it does strip spaces and version constraints. Can you share your config file @pikajude?

[2018-07-26 09:14] nmattia commented on #37
Good idea, will do

[2018-07-26 09:35] nc6 opened #39 "Snack fails when parsing a function name ending in `#`"
Given the following block:

[code]
snack fails to compile with:
[code]

[2018-07-26 09:39] nmattia commented on #39
N.B.: https://github.com/tweag/funflow/blob/37822cdfa3109181afedb4903359db47b58cee45/funflow/src/Control/Funflow/ContentHashable.hs

[2018-07-27 00:36] pikajude commented on #38
[code]

[2018-07-27 15:36] nmattia opened #40 "Snack does not allow an empty "dependencies" field"
E.g. the following `package.yaml` fails to build:

[code]

[2018-07-27 15:43] nmattia opened #41 "Fails when vim swap files are around"

[2018-07-27 16:14] nmattia opened #42 "GHC needs all transitive imports during a build"

[2018-07-27 16:34] #42 closed

[2018-07-29 17:58] #37 closed

[2018-07-29 18:24] nmattia opened #45 "Enable parallel builds"
The `nix-build` command is not called with `--cores`: https://github.com/nmattia/snack/blob/69d7d14de8b77e020064c7c3e19712ae1429adee/bin/Snack.hs#L193-L197

[2018-07-30 02:07] pikajude commented on #39
this might be a bug in HSE. That source file specifies `{-# LANGUAGE MagicHash #-}`, but HSE can only actually parse it for me if I use `parseWithMode (defaultParseMode { extensions = [EnableExtension MagicHash] })` instead of `parse`. It might be worth enabling that extension by default if this is actually a bug.

[2018-07-30 15:14] nmattia opened #47 "Produce fully static executables"
CC @nh2 as discussed last week

My first thought was to first package snack itself as a static executable and then potentially provide a way for snack to package other executables as static. It occurred to me that this doesn't make sense since snack packages itself.

My first attempt was to simply provide those GHC options:

[code]

as described [here](https://vaibhavsagar.com/blog/2018/01/03/stat

[2018-08-03 13:52] feuerligin opened #48 ""snack shell" capability?"
I could alternatively have a `deps.nix` with a list of deps that would be passed to a `ghcWithPackages` for `shell.nix` and to the `dependencies = ` field in `snack.nix`, but could this be made easier?

[2018-08-03 13:53] feuerligin opened #49 "How do I change the GHC version used by snack?"

[2018-08-21 00:36] philderbeast opened #50 "import-parser ParseFailed <unknown>.hs Illegal character ''\\65279''"
I tried using snack to build [siggy-chardust](https://github.com/BlockScope/flare-timing/tree/master/siggy-chardust) with a `package.yaml` input. It fails on what looks to be a [BOM](https://en.wikipedia.org/wiki/Byte_order_mark);

[code]

Here are the reproduction steps;

[code]

As I'm using `package.dhall`, let's convert it to `package.yaml`;

[code]

[code]

[2018-08-25 22:52] philderbeast opened #51 "An option for package-dhall inputs."
I've stopped using `package.yaml` in favour of `package.dhall` in [flare-timing](https://github.com/BlockScope/flare-timing), making good use of [hpack-dhall](https://github.com/sol/hpack-dhall) from @sol. Could we please have an option of supplying snack with a package in dhall format?

[code]

[2018-08-26 13:47] nmattia opened #53 "Support the CPP extension"
The GHC parser fails with:

[code]
when it encounters the `{-# LANGUAGE CPP -#} pragma, will need to investigate.

[2018-08-26 13:51] nmattia commented on #31
Considering this as fixed, feel free to reopen if you run into the issue again.

[2018-08-26 13:51] #31 closed

[2018-08-26 13:54] nmattia commented on #32
@Heimdell I've thought about this a bit more, and I'm still not sure that having a `test` command is a good idea. The reasons for that is that there are too many levels of testing, which can't all be supported without settings up some kind of environment in which the test can be run:
* Type checking (handled by GHC).
* Unit tests (like `stack test`).
* Integration tests, system tests, etc (those o

[2018-08-26 14:01] #40 closed

[2018-08-26 14:01] #39 closed

[2018-08-26 14:52] #38 closed

[2018-08-26 15:31] nmattia commented on #48
That's a good question, and I'm assuming that if you have some extra system library dependencies (when there's support for it in Snack) you'd also like them to show up in the shell? What else, besides ghc, do you think should be in that shell?

[2018-08-26 15:33] nmattia commented on #49
Currently the only way is by using the snack library directly (i.e. not the snack executable) and providing your own nixpkgs with the GHC version you want. How to provide nixpkgs to snack-the-executable is an open question, and a very important one, since this will also solve the issue of package sets (e.g. not simply using whatever is in nixpkgs). Will need to think.

[2018-08-26 15:37] nmattia commented on #50
@philderbeast I've updated the parser, maybe that'll solve your problem (although see #53 ). If that's still an issue, could you send me the `package.yaml` that you used, or point me to the `flare-timing` branch that you're using? Thanks!

[2018-08-26 15:51] philderbeast commented on #50
The branch is [fix/build-snack-84](https://github.com/BlockScope/flare-timing/tree/fix/build-snack-84). I generate `package.yaml` with;

[code]

That done, I can try a snack build with;

[code]

[2018-08-26 15:58] philderbeast commented on #50
I've pulled the latest changes to snack;

[code]

This version also has a parsing error, same character `\65279`;

[code]

Thanks @nmattia for this update that shows which module is not being parsed.

[2018-08-26 16:15] #41 closed

[2018-08-26 17:41] philderbeast commented on #50
For the `snack build` test with snack built from the `nm-bom` branch, see #58.

[2018-08-26 17:59] philderbeast opened #59 "Is it possible to use snack to load snack in the REPL?"
The [readme](https://github.com/nmattia/snack#advanced-nix-example) for snack says;

[code]

Is it possible to use snack to load snack in the REPL?

[code]

Can snack be used to run snack?

[code]

[2018-08-26 19:18] nmattia opened #60 "Pass arguments to snack run"
Right now, `snack run` will run the executable with no arguments. Ideally we'd have

[code]

[2018-08-26 19:54] #45 closed

[2018-08-30 22:34] nh2 commented on #47
See https://github.com/NixOS/nixpkgs/issues/43795 and more concretely, try to build snack statically as described here: https://github.com/nh2/static-haskell-nix/tree/7e41d26eb7403806d6be5f7046efcea3b05442ab#building-arbitrary-packages

[2018-08-30 22:54] nh2 opened #62 "ghc 8.4 compatibility"
Before: https://hackage.haskell.org/package/ghc-8.2.2/docs/Lexer.html#t:ParseResult

`PFailed SrcSpan MsgDoc`

After: https://hackage.haskell.org/package/ghc-8.4.3/docs/Lexer.html#t:ParseResult

`PFailed (DynFlags -> Messages) SrcSpan MsgDoc`

[code]

Fix

[code]

[2018-08-30 22:57] nh2 commented on #47
Giving a quick shot at it:

Trying:

[code]

[code]

First hitting https://github.com/nmattia/snack/issues/62 and working around it using the diff in there.

Then:

[code]

[2018-08-30 23:11] nh2 commented on #47
`strace` shows that eventually we get this invocation:

[code]

[code]

No `aeson` in there.

[2018-08-30 23:43] nh2 commented on #47
In the ghc invocation I see

[code]

But the desired files are in:

[code]

somehow this dir is not passed as a package DB.

[2018-09-01 19:16] #59 closed

[2018-09-02 21:59] philderbeast commented on #59
Thanks @nmattia, I can confirm loading snack in its own repl (snackle) now works for me after installing snack from the latest source;

[code]

By chance I now know what it means to [snackle](https://www.urbandictionary.com/define.php?term=snackle).

[2018-09-08 18:14] disassembler opened #65 "ghci not working with 18.09 nixpkgs"
I opened a PR #64 but snack ghci isn't working on my project with 18.09 nixpkgs. I'm not sure if it works with stock master, because the main reason I upgraded was `servant-auth-server` is broken in the version with the current pinned nixpkgs.

[code]

Here's my snack.nix: https://github.com/disassembler/servant-persistent/blob/master/snack.nix

[2018-09-10 18:06] nmattia commented on #65
Indeed. Using #66 I'm able to run `snack ghci` succesfully in https://github.com/disassembler/servant-persistent/blob/master/snack.nix (after removing the dependency on `servant-auth-server`).

[2018-09-12 21:17] deepfire opened #68 "Overriding `nixpkgs`"
It seems that the version of `nixpkgs` that is used by `snack` is fixed during its build time: https://github.com/nmattia/snack/blob/master/bin/Snack.hs#L334

It would be rather helpful to be able to make this fully parametrisable, instead.

[2018-09-12 21:20] deepfire opened #69 "Overriding individual dependencies"
Since the packages are referred by their name, which appear to be references into the `nixpkgs` Haskell package set, and since the latter is fixed (see #68), it seems that there is no way to override these dependencies.

This use case is fairly important for developer productivity, since custom versions of dependencies are often used -- and is indeed one of the strong sides of Nix.

Maybe I'm just

[2018-09-13 08:55] nmattia commented on #68
Completely agree. I have a vague idea on how to do that but I'm not 100% about the implementation. I think the best solution would be to introduce a new argument, `--nixpkgs`, which takes a nixpkgs description in one of these formats:

1. [NixOS/nixpkgs](https://github.com/NixOS/nixpkgs) commit
1. Path to local nixpkgs

alternatively I'm wondering if it would make sense to be able to tell snack to

[2018-09-13 15:15] disassembler commented on #68
:+1: on overlay support. I think this would be ideal. As for nixpkgs pinning, I think it should default to using <nixpkgs> which comes from `$NIX_PATH`. There should be an option in snack.nix to pin it to something else though.

[2018-09-16 17:07] zimbatm commented on #68
What if snack.nix was just a derivation?

default.nix
[code]

[code]

So while developing you would most likely enter nix-shell for things to go faster.

This would also open the road for snack to get integrated with nixpkgs. The the second line of the nix example would be removed.

[2018-09-20 20:09] ruhatch opened #70 "Failed to load interface for indirect dependency"
I'm building [this](https://github.com/ruhatch/cabal2snack) and getting the following error:
[code]
This is saying it cannot find a module that isn't directly imported into any of the files in the project. I was having a similar issue with `Data.Reflection` earlier on that I cannot reproduce now.

Any ideas?

[2018-09-20 22:12] ruhatch commented on #68
@zimbatm I'm testing out something like the above, but I'm running into the issue that `snack-lib` builds `Imports.hs` and that doesn't compile with all `nixpkgs`. Should there be two versions of `nixpkgs` involved?

[2018-09-21 08:46] nmattia commented on #70
Very interesting, I'll try to reproduce this weekend. This is the version of snack you're using, right? https://github.com/ruhatch/snack/commit/5f41965d12eadf53403162e930e5c1387890c67f

[2018-09-22 14:00] ruhatch commented on #70
That's right, although it was happening at the HEAD of this repo too

[2018-09-23 20:32] #65 closed

[2018-09-24 16:59] ruhatch commented on #70
@nmattia I'm not sure how to get started debugging this, but if you could point me in the right direction, I'd be happy to give it a go!

[2018-09-25 09:54] nmattia commented on #70
I've played with it a bit. By adding `cabal2nix` as a dependency of your main module it builds fine:

[code]

Snack should forward the dependencies automatically, so I added a trace in the linker step:

[code]

Then using `-l` and specifying the patched lib I retried building (after removing the `cabal2nix` dependency from your `snack.nix`):

[code]

which shows that the dependencies are propagate

[2018-09-25 21:01] ruhatch commented on #70
Put in a PR :)

[2018-09-26 08:16] #70 closed

[2018-09-28 03:47] cleverca22 commented on #53
also ran into the same problem here
[code]
the debug output from:
[code]
running on https://github.com/disassembler/snack/tree/e2f8206c76c9f7c02d193041a4089ca6e516702d

[2018-09-28 05:52] cleverca22 commented on #53
and with help from @angerman it has been fixed:
https://github.com/input-output-hk/snack/commit/3ad2b97d02c2994b4aa8c0d3f40dfa3983691fac

[2018-09-28 07:40] nmattia commented on #53
Very nice. @cleverca22 or @angerman could you submit a PR with the changes from https://github.com/input-output-hk/snack/commit/3ad2b97d02c2994b4aa8c0d3f40dfa3983691fac?

[2018-09-28 07:45] nmattia commented on #68
I don't think the above solution is ideal:

1. Users are forced to know about `nix-shell`, etc
1. The build definition is scary; it involves passing arguments and calling function, which is not something that people should have to do by default

I've started work on a different solution. It goes something like this:
The current `snack.nix` is renamed `package.nix`. In addition a new file is introd

[2018-10-01 18:35] nmattia commented on #68
Alright, overriding nixpkgs packages in now possible on [this branch](https://github.com/nmattia/snack/tree/nm-pkgs). The config is rather simple:

https://github.com/nmattia/snack/blob/nm-pkgs/tests/extended-config/snack.nix#L1-L3

You write another, top-level file (something like a `stack.yaml`) which specifies `pkgs`. Feedback appreciated!

[2018-10-03 18:08] #60 closed

[2018-10-03 18:14] nmattia commented on #32
I'm still in favor of `snack -s test.nix run`. Feel free to reopen if that's not satisfactory.

[2018-10-03 18:14] #32 closed

[2018-10-03 18:34] #53 closed

[2018-10-03 18:52] #50 closed

[2018-10-04 18:39] nmattia opened #79 "Track evaluation performance"
It'd be great to have a project with a lot of modules which we can use as a baseline for tracking performance, ideally by adding upper bounds on the number of operations reported by `NIX_SHOW_STATS=1` and `NIX_COUNT_CALLS=1`.

CC @edolstra @cleverca22

[2018-10-10 19:10] philderbeast opened #80 "Singling out file swp.hs, a vim swap file."
If I have a Haskell file and a vim swap file, I've seen snack pick out the wrong one as an input. Create the swap file by opening `Bar.hs` in vim and then executing the command `:sw`;

[code]

With `package.nix`;
[code]

[code]

[2018-10-10 20:18] philderbeast opened #81 "Singling out file DS_Store.hs on mac."
Like #80 but for [`.DS_Store`](https://en.wikipedia.org/wiki/.DS_Store) on mac.

[code]

[code]

[2018-10-10 21:17] philderbeast opened #82 "Add links to the hpack and nix sections"
From the https://github.com/nmattia/snack#usage section add links to the hpack and nix sections.

[2018-10-11 09:59] #82 closed

[2018-10-11 14:09] philderbeast opened #84 "Describe how to run test suites in the readme."
The absence of an explicit **test** command for running test suites was mentioned in #32. Please document how to run test suites in the readme.

[2018-10-11 17:07] #84 closed

[2018-10-12 18:40] philderbeast opened #87 "Data.Yaml.decode is deprecated"
[code]

[2018-10-12 20:38] #87 closed

[2018-10-12 22:05] philderbeast commented on #51
I want to try writing a `DhallToJson.hs` module similar to the existing `YamlToJson.hs` module.

https://github.com/nmattia/snack/blob/5d52a2d67f2f8b01e3e0715bce9248e642159b43/snack-lib/YamlToJson.hs#L4

This module will need to make some `Dhall.*` imports.

[code]

@nmattia how do I add packages that are missing so that the imports resolve?

[2018-10-13 12:27] #69 closed, assigned to nobody

[2018-10-21 12:31] #80 closed

[2018-10-21 12:31] #81 closed

[2018-11-06 19:42] philderbeast commented on #51
I'm now maintainer of [hpack-dhall](https://hackage.haskell.org/package/hpack-dhall). The executable `dhall-hpack-json` in that package might be just what we need instead of using `dhall-to-json`. It resolves imports and pretty prints JSON equivalent to what you'd get if you had started with a `package.yaml` and then done `yaml2json` over that.

https://github.com/nmattia/snack/blob/fa50d9b054a30c

[2018-11-06 19:56] philderbeast opened #92 "Am I limited to working on a single package?"
If I use `--package-yaml` or `--package-nix` without touching `--snack-nix` then am I limited to working on a single package? How in snack would I have a project that includes many packages similar to the way with cabal there is a `cabal.project` that references `*.cabal` files.

[2018-11-06 20:55] philderbeast commented on #92
Perhaps I can do this without a project now that https://github.com/haskell/cabal/pull/5526  landed two days ago, fixing https://github.com/haskell/cabal/issues/4206?

[2018-11-07 17:37] nmattia commented on #92
@philderbeast that's a good question, and one that doesn't have an answer yet. Can you give an example project structure, and the commands you'd imagine typing? For instance it's unclear what `snack ghci` would do with several packages, let alone `snack run`.

[2018-11-07 17:46] nmattia commented on #51
@philderbeast I missed your comment above (https://github.com/nmattia/snack/issues/51#issuecomment-429475668). You can add them like this: https://github.com/nmattia/snack/blob/90e27fccb0ca0eda57e56bd79441feac4787201e/snack-lib/hpack.nix#L10

I see two solutions:
1. We use the import resolution to then cherry-pick the imported files and feed them to nix
1. We simply handle the dhall parsing/evalua

[2018-11-09 16:58] philderbeast commented on #92
See the tests I've added to branch [repro/multi-pkg-92](https://github.com/BlockScope/snack/tree/repro/multi-pkg-92) where I've got one app and two libs, one dependent on the other, in the same package. The command line when squeezing multiple libs into the one package would be unchanged;

[code]

If multiple instances of the `--package-yaml` option or `--package-nix` option were allowed then we'd

[2018-11-09 17:14] philderbeast opened #93 "Add a test for when source-dirs is a list."
Please accept a list of source directories.

[2018-11-15 07:42] nmattia commented on #92
Question: does hpack allow multiple `library`s ?

https://github.com/nmattia/snack/compare/master...BlockScope:repro/multi-pkg-92#diff-b70f96cd6dacdfa375dc26b966109277R3

I'll play a bit with https://github.com/BlockScope/snack/tree/repro/multi-pkg-92 and see what I come up with. I like the idea of being able to specify `--project-yaml` and `--project-nix` multiple times. Maybe the `snack.nix` sho

[2018-11-18 13:02] #93 closed

[2019-02-04 21:22] mikelpr opened #106 "install script unnecessary"
you can just
`nix-env -iA snack-exe -f https://github.com/nmattia/snack/tarball/master`

instead of cloning and running the install script or nix-env with the local files

[2019-02-13 00:11] siddharthist commented on #92
More broadly, it'd be nice to be able to specify Snack packages as inputs to other Snack packages in such a way that if I change a the module in `Foo.Bar` in package `A`, only the modules in package `B` that depend on `Foo.Bar` have to be recompiled if I want to run/compile `B`.

My biggest pain point with Nix+Haskell is working on an executable with a deep library stack: if I change something way

[2019-02-13 09:46] nmattia commented on #92
@siddharthist this is actually what happens in Snack! See [this reddit conversation](https://www.reddit.com/r/haskell/comments/91f5r7/snack_incremental_nix_builds_for_haskell/e2xslal/). I planned on writing up on Snack's design, I'll bump it in my todo list.

[2019-04-20 23:09] patrickmn commented on #79
I think I am probably running into something related to the thinking behind this.

I have a large project with several executables that use more or less of the project dependencies and modules. E.g. 15 "distinct" imports in one, 30 in another, many more in another.

I am able to get the snack example to work with the lightest such bin/Foo.hs, albeit with a long startup time:

[code]

(This overhea

[2019-04-22 15:04] nmattia commented on #79
Hey @patrickmn , could you give [this branch](https://github.com/nmattia/snack/tree/nm-fast) a try? If you use [niv](https://github.com/nmattia/niv) should be as simple as `niv update snack -b nm-fast`.

It should fix some of the terrible asymptotic behavior when discovering modules. I still need to fix some similar behavior during the package spec parsing, but this shouldn't be a problem in your

[2019-05-02 21:39] siddharthist opened #118 "It should be easier to switch GHC versions"
It would be nice if I didn't have to make a separate `.nix` file and pass it as an argument every time. It would be even better if I could specify _multiple_ GHC versions to build and test my project with, possibly with one being the default.

[2019-05-02 21:47] siddharthist opened #119 "README: describe use with niv"
It's not immediately clear to me how to use `snack` in conjunction with `niv` (or if they can be used together). Would you mind giving an example in the README?

[2019-05-02 21:54] siddharthist commented on #48
@nmattia The best approach would probably be to have the user create a `shell.nix` of some specified format that lists whatever they'd like to have in the shell, e.g.
[code]

[2019-05-24 18:40] gigavinyl opened #123 "Error building hakyll project with snack"
Hey! I'm gettin this error when running `snack build`
[code]

For context, this is my package.yaml
[code]

[2019-05-24 21:21] masaeedu commented on #48
Sorry if this is off topic here, but would something like a `snack shell` workflow be necessary to provide the necessary GHC, devtools, etc. to an editor? Or is there some other, already existing mechanism for making `hdevtools` work with `snack`?

[2019-05-24 22:47] masaeedu commented on #123
@gigavinyl I think you can work around it by wrapping your `ghc-options` in an array. The code in https://github.com/nmattia/snack/blob/cdf09da66a3b50a7acd0c24b396726c2eb4c6933/snack-lib/hpack.nix#L55 seems not to anticipate that `ghc-options` can be a bare string.

[2019-05-25 02:13] masaeedu opened #124 "Unable to build spago"
Hi there. I was trying out building https://github.com/spacchetti/spago using the following `snack.nix` file:

[code]

However I get the following error:

[code]

Full output is here: https://gist.github.com/masaeedu/759b0d19591b555ebbe8e5cbf2364cfd

[2019-05-27 08:52] nmattia commented on #124
Interesting, can you share your `package.yaml`/`package.nix`? Any idea where the `-main-is` is coming from? Looks like ghc is receiving it as `-main-is Curator` (one arg) as opposed to `-main-is` `Curator` (two args).

[2019-05-27 08:53] nmattia commented on #123
As @masaeedu said! Feel free to re-open if that didn't fix the issue.

[2019-05-27 08:53] #123 closed

[2019-05-27 08:54] nmattia opened #125 "Support single values when list are expected and provide better error messages"
When lists are expected, e.g. `dependencies`, a single value could be accepted as well and passed on as a single element list to the build.

CC #123

[2019-05-27 15:38] masaeedu commented on #124
You can take a look here:
https://github.com/spacchetti/spago/blob/master/package.yaml. The ghc
options bit for both executables specifies that flag.

On Mon, May 27, 2019, 4:52 AM Nicolas Mattia <notifications@github.com>
wrote:

[2019-05-27 19:40] masaeedu commented on #124
I changed:

[code]

to:

[code]

and it managed to get past that step. I think this is a bug, if the intent is to remain hpack (and therefore stack) compatible.

[2019-05-27 19:44] masaeedu commented on #124
Now it fails with something related to template haskell:

[code]

Depending on how you'd prefer to track this stuff I can make this issue about the flags being passed in a particular way and open another issue for the template haskell related thing (I still don't know what's causing that).

[2019-06-07 02:53] masaeedu opened #126 "Name conflict"
At least on my Arch Linux, installing snack using `nix-env -f ./default.nix -iA snack-exe` breaks future use of `nix-channel --update && nix-env -u`, because apparently there's a broken top level Python package in nixpkgs called `snack`.

Here's the error:

[code]

[2019-06-07 07:56] nmattia commented on #126
indeed, that's a problem! I've never hit that because I don't use channels. I'll look into to see what exactly is used as the key. Probably the derivation name?

[2019-06-12 21:46] nmattia opened #129 "Type Nix through haskell"
Most of snack's flakiness comes from the fact that the logic is written in Nix - which is untyped and doesn't really have test frameworks.

An idea I played with a while ago was to wrap Nix with haskell types: https://github.com/nmattia/nix-reloaded

It provides a nice way to write Nix by lifting all expressions to typed haskell values, e.g.

https://github.com/nmattia/nix-reloaded/blob/82489bd9d5

[2019-06-13 10:27] smatting commented on #129
What do you think about moving more of the logic to Haskell directly in addition to this? For example `hpack.nix`?

[2019-06-13 10:33] nmattia commented on #129
One of the goals of snack is to allow the user to run `nix-build` and everything should work. If we push some of the logic to haskell that means that, somehow, the nix build needs to first call something like `snack dump-build-procedure > foo.nix` and then do some import from derivation. If we manage to get everything nice and typed in nix-reloaded then we can do `snack dump-nix-files > lib.nix` a

[2019-06-13 11:14] smatting commented on #129
Ah, I see! The build process should not even depend on `snack` itself, only nix. So this is basically goal 1 mentioned in the readme, but more explicit.
And I guess the output of `snack dump-nix-files` should not depend on the project at all too, correct?

[2019-06-16 13:13] smatting opened #130 "Recurse into default extensions"

[2019-06-19 09:53] masaeedu commented on #129
FWIW there's an existing https://github.com/regnat/ptyx project that attempts to add a type system to Nix.

[2019-06-19 12:10] nmattia commented on #129
Last time I talked to @regnat he mentioned it wasn't looking really good. However @jwiegley mentioned there's a rudimentary type system in https://github.com/haskell-nix/hnix, so that could work.

[2019-07-02 09:36] Skyfold commented on #119
It looks like (from my brief play with `niv`) that it simplifies pinning to a nixpkgs branch and adding external resources to your project. For example, the `snack` repository uses `niv` to pin its nixpkgs and bring niv in as an external dependency. However, `niv` does not hook those dependencies into a `shell.nix` file, instead you have to add some boilerplate to make importing those dependencies

[2019-07-02 09:50] nmattia commented on #119
@siddharthist having `niv` install instructions in the README is a great idea! I'll do this asap.

[2019-07-02 15:58] tazjin opened #134 "Add a license"
Thanks for building snack, it's a very interesting project!

Would you consider adding a license to this repository to specify under which terms this code can be used?

[2019-07-08 13:23] #119 closed

[2019-07-17 19:13] drathier opened #138 "Is snack production ready for early adopters?"
Seems like the activity here has calmed down. I guess this is because people aren't finding as many issues with snack anymore; the low-hanging fruit has been found and most common use-cases are handled.

Would you say snack is ready enough for production use by early adopters?

[2019-07-18 18:45] nmattia commented on #138
Good question.

The activity has indeed calmed down, due to two factors:

1. I’ve had very little time to work on snack
1. I ran into some pretty big maintainability problem because (1) most of the library is written in Nix, which is not really meant for these kind workflows and (2) I got lots papercuts from GHC’s UX which has depressed me tremendously

That being said, it’s definitely a viable al

[2019-08-12 12:48] luispedro opened #143 "stack overflow using snack on NGLess"
I tried snack on a clean checkout of [NGLess](https://github.com/ngless-toolkit/ngless) and it first ran for a while, then it errored. From then on, running `snack build` runs for about a minute and terminates with

I attach the full log of `NIX_SHOW_STATS=1 NIX_COUNT_CALLS=1 snack build`:
[LOG.stderr.txt](https://github.com/nmattia/snack/files/3492400/LOG.stderr.txt)

Reproducing should be a matt

[2019-10-12 02:59] YuMingLiao opened #153 "Working directory issue."
Hi, first of all, snack is so great! I keep facing long compile time issue in haskell-nix way. And snack definitely can save a lot of time.

I try to use snack to run a yesod project. But since its working directory is "/build/extra-files"
So I encounter an error like this:
[code]

My code can't address the config/settings.yml file in my working directory. And I don't have build folder in my /. An

[2019-10-12 09:11] nmattia commented on #153
Interesting! Are those files specified as extra data in the cabal file? Do you have a minimal reproducible example I can play with?

[2019-10-12 09:13] nmattia commented on #143
Looks like I missed the notification! There are some Nix-performance related issues with snack, it stresses the evaluator a lot. I looked into it a few times but it's very hairy. Hopefully one day I'll have time to dig into this properly, but I don't use Haskell much these days...

[2019-10-12 09:22] YuMingLiao commented on #153
I didn't know there is a data-files field in the cabal file. Let me test it out first.

[2019-10-12 11:57] YuMingLiao commented on #124
I am facing similar issue after I successfully compiled a module with template haskell ($embedFile) in it. Now another module can't find it. I don't know what's causing that, either.
[code]

[2019-10-12 12:05] YuMingLiao commented on #153
I followed tests/template-haskell-4 example and successfully solved this issue. It turns out I just need to set extra-directories into my package.nix. Thanks for these tidy template-haskell examples.

[2019-10-12 12:05] #153 closed

[2019-10-12 12:42] YuMingLiao commented on #124
Maybe it is related to this [issue](https://github.com/commercialhaskell/stack/issues/2903). Maybe adding an extension TemplateHaskell can fix this.

[2019-10-12 12:53] YuMingLiao commented on #124
After I try to add TemplateHaskell in lib and main in package.nix, the problem still exists.

[2019-10-12 13:06] nmattia commented on #124
Mh, it looks like the `Settings` object file is not being forwarded to the linking step of `StaticFiles`. Do you have the code?

[2019-10-12 14:48] YuMingLiao commented on #124
I have simplified my yesod code to [this](https://github.com/YuMingLiao/issue-setting-object-file).
And it's the  `staticFiles (...)` line that makes the "`Settings` object file missing" error appear.
I'll look into it tomorrow.

[2019-10-14 01:53] YuMingLiao commented on #124
I have added a successful cabal build in my code repository for comparison.

[2019-10-27 09:35] YuMingLiao commented on #124
It seems that when `buildPhase` in `buildModule`, ghc didn't get the location of `Settings`  object file.

[2019-10-28 12:22] YuMingLiao commented on #124
After I took off `-c` flag in `buildPhase` and get `dyn_o` produced, ghc find the object file and snack successfully build my code!

[2019-10-29 06:15] YuMingLiao commented on #124
[code]
It seems if -outputdir is used, ghc cannot find where the TemplateHaskell meta program module is.

[2019-10-29 09:22] YuMingLiao commented on #124
[code]

ghc needs those intermediate files from last module both in -i and -outputdir.

[2019-10-29 10:13] YuMingLiao commented on #124
[code]
After I change `makeSymtree`'s folder from `.` to `$out`, and add ghc options `-i$out -dynamic-too`, my TemplateHaskell code got compiled. And my huge yesod code did so too. Great!

[2019-10-29 10:40] nmattia commented on #124
@YuMingLiao wow, nice sleuthing! just got back from NixCon, catching up with notifications.

Can GHC still find the object files/shared objects (i.e. not the interface files) even if they're unpacked in `$out`? Does `-i` also impact those, or is it `-dynamic-too`?

[2019-10-29 10:43] YuMingLiao opened #156 "`snack build`ing a big project takes 12m."
[code]
47 packages (several local ones) vs 10 packages.

Is it a normal time?

[2019-10-29 10:48] nmattia commented on #156
It's not "normal" but at the moment it's (unfortunately) kind of expected. There are some performance issues. See these tickets:

* https://github.com/nmattia/snack/issues/79
* https://github.com/nmattia/snack/issues/143

I know @zimbatm and @NinjaTrappeur have looked into ways of benchmarking and speeding up evaluation, maybe they have some tips?

[2019-10-29 11:13] YuMingLiao commented on #124
Thanks for encouragement! I am so glad that I can help on this issue.

I am not sure what you mean by `unpacked`. I'll say what I know.

`-dynamic-too` not only make .o and .hi, but also create .dyn_o .dyn_hi.

And compiling a single module that use other TH module needs the other TH module's dyn_o.

So if I want to `ghc -c THModule2.hs`, I need to `ghc -c THModule1.hs -dynamic-too`.

However, if

[2019-10-29 11:24] NinjaTrappeur commented on #156
I'm not yet ready to answer this. I'll write a proper blog post + documentation when the callgraph profiler will be ready.

That said, (according to git blame) @zimbatm and @grahamc already delivered a timing-based flamegraph profiler. Some instruction about how to use it there: https://github.com/NixOS/nix/commit/ee9c988a1b2e3c511b8613e698a0f9632ab1538f

[2019-10-30 00:31] YuMingLiao opened #157 "support ghci options"
$ snack ghci --no-load
Invalid option `--no-load'

[2019-11-05 15:52] nmattia commented on #157
Ah! it should be straight forward to extend `Ghci` with the same arguments as `Run`:
https://github.com/nmattia/snack/blob/bdb6061eeda26f6d2c432659baa74d9c4dfc4f39/bin/Snack.hs#L236

and allow `$ snack ghci -- --no-load`

[2019-11-12 01:38] zhujinxuan opened #161 "Unable to link when main module is not Main"
Environment: NIxpkgs on Mac 10.15.1

When I am compiling a test with snack, with package.nix as
[code]
where the main module is directed to Spec.  The compile will fail with

I think it related to
https://github.com/nmattia/snack/blob/ddc5135b727543a8f691cb4e0c092d5ca26ca3b6/snack-lib/build.nix#L25

Perhaps we need to change the `Main.o` with `mainModSpec.o`?

[2019-11-12 09:23] nmattia commented on #161
I remember having lots of issues around this, GHC has some weird semantics when it comes to specifying the main module name. Did you try the fix you suggest?

[2019-11-12 20:01] zhujinxuan commented on #161
I will have a try this weekend (still learning nix at this moment)

[2019-11-12 22:37] zhujinxuan commented on #124
I am having a similar problem that nix-build passing ghcOpts upset ghc with `-main-is`.  In https://github.com/nmattia/snack/pull/162, I tried to pass `-main-is` in ghc options, but it fails.

[2019-11-12 22:39] zhujinxuan commented on #124
Strange, I can solve it by changing ghcOpts from `["-main-is Spec"]` to `["-main-is" "Spec"]`.

[2019-11-13 09:18] #161 closed

[2019-11-13 21:53] zhujinxuan commented on #157
Shall we also allow user to config options in nix as well?

[2019-11-18 22:46] zhujinxuan opened #164 "Ghci does not read package dependencies."
Example:
in this project,

[code]

will create an warning as

[code]

[2019-11-18 22:51] zhujinxuan commented on #164
Perhaps the only solution is to start a nix-shell with all dependency loaded, and then start ghci in the shell?

[2019-11-18 23:04] zhujinxuan commented on #164
I think we shall pass packageDependencies somewhere in ghci.nix

[2019-11-18 23:24] zhujinxuan opened #166 "Too many"

[2019-11-18 23:32] zhujinxuan opened #167 "Parsing error"
[code]
cannot be parsed, with error as
[code]

[2019-11-20 10:32] nmattia commented on #167
mh, this isn't good. According to the [doc](https://github.com/pcapriotti/optparse-applicative#arguments):

I might have missed something here.

[2019-11-20 19:52] #157 closed

[2019-11-22 22:04] zhujinxuan commented on #164
@nmattia I think we just need to add dependency in https://github.com/nmattia/snack/blob/069f7d01fbb2400b8f8bd43dbff16478e3cd4d0e/snack-lib/ghci.nix#L33

But I do not how to find document of nix functions as writeScriptBin and makeWrapper.  Can I know where I can find it?

[2019-11-23 07:52] nmattia commented on #164
`writeScriptBin` is fairly straightforward: it simply wraps `writeText`.

The following:

[code]

will write `bar` to `$out/bin/foo` and make `foo` executable.

The documentation for `makeWrapper` is a bit hard to find: https://github.com/NixOS/nixpkgs/blob/b339f29a277cd430c7fdd1677bcbb59ca6619945/pkgs/build-support/setup-hooks/make-wrapper.sh#L10-L29 (note that `makeWrapper` is not a “nix” functi

[2019-11-23 11:50] ar1a opened #168 "error: attribute 'morpheus-graphql' missing, at /nix/store/01ymwd4kb7hkmh5hz6jsdmvrs1z28l7c-snack-lib/default.nix:57:18"
Hi! I'm trying to install `morpheus-graphql` in a simple hpack project. A minimal reproduction is quite easy on my machine. Running NixOS unstable.

package.yaml

[code]

src/Main.hs

[code]

full log: https://gist.github.com/ar1a/c9fd6d1b5b061737ed1b8d12d3452f6a

on a side note, when i ran `snack build` without the dependencies it built successfully but there was no executable for me to run, i ha

[2019-11-24 10:18] nmattia commented on #168
Interesting. This suggests that `morpheus-graphql` is not available in `pkgs.haskellPackages`. Have you tried [using a different set of pkgs](https://github.com/nmattia/snack#using-other-versions-of-ghc-and-nixpkgs) ?

The `build` command only builds the code, although you can figure out the path to the executable by inspecting the output:

[code]

You should probably use `snack run` here:

[code]

[2019-11-26 04:35] ar1a commented on #168
Strange, because this works fine!

[code]

I haven't tried a different set of packages but surely this one should work?

I changed the line in package.yaml to `containers` and that installed fine. What a strange bug...

[2019-11-26 09:46] nmattia commented on #168
Snack pins the nixpkgs version for reproducibility:

https://github.com/nmattia/snack/blob/dfaa5614d1ebf9fa3888b2a9a2b3f489a3654888/nix/sources.json#L14-L25

Running this in the `snack` repo:

[code]

You probably need to [specify your own set of pkgs](https://github.com/nmattia/snack#using-other-versions-of-ghc-and-nixpkgs).

[2019-11-26 10:35] ar1a commented on #168
thanks! I got it to compile successfully with this snack.nix
[code]

Is it possible to snapshot the current nixpkgs?

[2019-11-26 10:43] nmattia commented on #168
nice!

Depends where it comes from. I would suggest using [niv](https://github.com/nmattia/niv) (disclaimer: I wrote that) and use the following:

[code]

[2019-11-26 10:43] #168 closed

[2019-11-26 10:43] nmattia commented on #168
Looks like the main issue is resolved, feel free to re-open if another related issue comes up.

[2020-01-11 13:41] thebrodmann opened #174 "Linker phase error"
Trying to install snack on macOS 10.15.2 but involving with the following error:

[code]

[2020-01-11 18:33] nmattia commented on #174
Hi @thebrodmann ! What macOS version are you using, and how are you installing snack?

[2020-01-11 19:57] thebrodmann commented on #174
macOS Catalina 10.15.2

I tried both ways (with niv and globally) but the above output is the output of the following command:

[code]

[2020-01-11 20:09] nmattia commented on #174
Ok, I don't have a Darwin machine ATM, I'll try to reproduce on Monday. Thanks for pointing this out!

[2020-01-13 11:43] nmattia commented on #174
Actually, after having a better look at what you posted, I think I know what's happening. I'm guessing you had to workaround the Catalina issues and have setup the nix store in `/System/Volumes/Data/nix`. I doubt this is a snack-specific issues, and I believe you'll hit this whenever you try to link something locally.

This error is thrown here: https://github.com/NixOS/nixpkgs/blob/d9319e8e8725a4

[2020-01-13 13:57] thebrodmann commented on #174
OMG, thank you. You’re so helpful.
By replacing symlink with bind mount the problem has been fixed.

[2020-01-13 13:57] #174 closed

[2020-02-09 01:29] hyperfekt opened #178 "Support hie-bios"
For easy use with hie and ghcide, it would be great if snack added support for [hie-bios](https://github.com/mpickering/hie-bios). My understanding is that for this it needs to be able to output the options given to GHC into a file given by `$HIE_BIOS_OUTPUT`.

[2020-02-14 06:35] Sir4ur0n opened #179 "Use of the documented `snack.nix` fails: error: value is a function while a set was expected, at (string):11:17"
Hi,

I just discovered `snack` yesterday, I am extremely interested in using it (incremental build + Nix :heart:). While toying around with it, it fails when I start using a `snack.nix` [as documented](https://github.com/nmattia/snack#using-other-versions-of-ghc-and-nixpkgs).

[code]

[code]

Everything seems to run fine (besides the warning, but I assume it's unrelated?):
[code]

Now add the `sna

[2020-02-18 23:38] Sir4ur0n commented on #179
Ok I have investigated (with my rather poor knowledge of Nix) and looked at the code, I think I figured out how to make it work.

An actual syntax that works is:
[code]

After further investigation:
* Unlike what the documentation suggests, the `pkgs` field is mandatory
* I don't think the documentation makes it clear enough, but if you specify `ghcWithPackages` then `ghc-version` is ignored

Is t

[2020-02-19 09:54] nmattia commented on #179
You're right, the `pkgs` field should evaluate to a package set. It really boils down to what `import ./nix` evaluates to. For instance, this would work:

[code]

_but_ the following wouldn't work:

[code]

I realize the latter (i.e. `./nix/default.nix` taking an attribute set) is much more common. I'll update the documentation to reflect that.

[2020-02-19 09:57] nmattia commented on #179
There you go! Let me know if that works for you.

Re. clarifying the behavior of `pkgs`:

[code]

The important part:

I realize this may not be straightforward when you start with Nix!

[2020-02-19 18:01] Sir4ur0n commented on #179
In particular, this is the default when using `niv` which is the first configuration mode presented by the documentation :smile:
Indeed thank you, the documentation is better now (it works OOTB).

However the documentation is still unclear/confusing in my opinion:
* Doc says "Finally you can provide your own set of Nix packages" which lets the reader believe it's optional to pass the `nipkgs` fiel

[2020-02-28 18:40] nmattia commented on #178
@hyperfekt apologies about the delay, I was pretty busy!

You mean that snack should read `$HIE_BIOS_OUTPUT` and write all options given to GHC? You mean build options, correct? I'm guessing that would be these:

https://github.com/nmattia/snack/blob/b6ca2874d10435ce67f195c836a9a75c17c735d1/snack-lib/build.nix#L148-L150 . That should be doable, we just need snack-the-executable to read the GHC opt

[2020-02-28 18:43] nmattia commented on #179
Hey Julien! Sorry for the late reply.

The `nixpkgs` field should definitely be optional. If it's not, it's a bug!

It looks great, thanks!

[2020-03-05 23:14] YuMingLiao opened #183 "CPP doesn't work. Failed to find cabal_macro.h"
[code]
It seems ghc failed to discover proper version from cabal_macros.h

[On stackoverflow, It](https://stackoverflow.com/questions/12546757/how-do-i-use-cabals-min-version-and-other-macros-with-ghci/12546758) says:
`The cabal build command generates the file dist/build/autogen/cabal_macros.h, which contains all the definitions you need. In order to include that file in a ghc invocation, you'll

[2020-03-11 08:23] poscat0x04 opened #185 "Build should abort as soon as one file failed to compile"
with the default stack template, add a nonexistent import in `Lib.hs`, run `snack build`
[code]
snack proceeds to build Main.hs even if Lib.hs had failed.

[2020-03-14 07:35] YuMingLiao opened #186 "Recurisvely imports may cause infinite loop or stackoverflow."
Just leave here for future reference.

[2020-03-15 20:10] thebrodmann opened #187 "Include build-tools to dependencies"
Snack doesn't include build-tools specified in `package.yaml` into the build environment.
As an example:

[code]

With the above `package.yaml` file Snack will fail to build and throws the following error:

[code]

After adding `record-dot-preprocessor` to the dependencies Snack can build the project. So it would be rational to suppose `build-tools` as dependencies that should be provided by Snack

[2020-03-16 03:13] YuMingLiao commented on #183
Handwriting a cabal_macros.h and adding "-optP-include -optPcabal_macros.h" to `ghcOpts` should suffice.

[2020-03-16 03:13] #183 closed

[2020-03-16 10:06] nmattia commented on #183
Right, snack does not support cabal-style macros, it works directly with GHC. That's the best solution for now.

[2020-03-16 15:27] nmattia commented on #185
That's weird! Are you sure Main imports Lib? Can you share the code?

[2020-03-16 21:56] codygman opened #188 "value is a string while a list was expected"
Minimal example package.yaml to reproduce:

[code]

or clone this [repo on the try-snack branch](https://github.com/codygman/haskell-nix-min-repro/tree/try-snack) and run `snack build` inside of `nix-shell`.

[2020-03-17 00:40] poscat0x04 commented on #185
https://github.com/commercialhaskell/stack-templates/blob/master/new-template.hsfiles

[2020-03-20 14:03] Sir4ur0n opened #190 "`snack.nix`: field `pkgs` is mandatory while it shouldn't"
Cf our discussions in https://github.com/nmattia/snack/issues/179 you said it shouldn't be mandatory, but it is, otherwise the error is:
[code]

[2020-03-24 07:32] thebrodmann opened #192 "Error: cannot coerce a set to a string"
IDK, is this related to #188 or not!
BTW I'm using Nix 2.3.3.

[code]

[2020-03-24 09:39] nmattia commented on #192
Thanks for reporting! Can you share your config files?

[2020-03-24 11:01] #179 closed

[2020-03-24 19:28] thebrodmann commented on #192
snack.nix

[code]

nix/default.nix

[code]

[2020-04-02 21:30] codygman commented on #192
@nmattia I shared a fully reproducible config as a github repo if this is related.

[2020-04-02 21:31] codygman commented on #192
I shared [my config](https://github.com/codygman/haskell-nix-min-repro/tree/try-snack) if this is related.

[2020-04-29 01:15] hyperfekt commented on #178
I don't understand a lot about the Haskell build process, but I'm pretty sure the output directory isn't needed since the users of hie-bios are not responsible for compiling. I tried seeing what kind of flags stack gives to hie-bios but wasn't successful so far.

[2020-05-03 19:02] hyperfekt commented on #178
Okay, I think I figured it out. hie-bios needs the following in the file located at `$HIE_BIOS_OUTPUT`:
[code]
The stuff we need is [already](https://github.com/nmattia/snack/blob/b638463b9a7490867b44d0c33bb02e8f7ca82f29/snack-lib/ghci.nix#L20) [used](https://github.com/nmattia/snack/blob/b638463b9a7490867b44d0c33bb02e8f7ca82f29/snack-lib/ghci.nix#L18) by the library.
It would probably be good to

[2020-05-07 10:54] hyperfekt commented on #178
I'm close to being done implementing this, but since I'm not super familiar with how Haskell builds work I am wondering whether there can exist conflicting dependencies in one project, or if we can make ghcide et al use a shared session including all dependencies of the top-level package specification for all files.

[2020-05-07 19:10] hyperfekt opened #200 "custom compiler leads to type error"
Tryng to set the compiler to anything (even 8.4.4?) but the bundled one fails with the following:
[code]

[2020-05-20 12:05] hyperfekt commented on #200
GHC 8.8.3 changed that interface, and in Imports.hs Snack is using the default compiler version of the supplied nixpkgs instead of the version specified in snack.nix.
I feel like it would be more correct for Snack to use a fixed version of GHC to parse imports (assuming that GHC is backwards compatible with source files), but since that would require anyone with a custom compiler to have two compi

[2020-05-20 16:01] hyperfekt commented on #200
While writing a patch for this I noticed that Hoogle will use the wrong packages if just ghcWithPackages is given in the config. Since there doesn't seem to be an easy way to get a Hoogle from a ghcWIthPackages my solution would be to remove the ghcWithPackages configuration option.
Is that acceptable @nmattia?

[2020-05-20 20:41] hyperfekt opened #203 "show relative name of modules in import parsing error messages"
Currently error messages that are printed during parsing imports only show the Nix store path of the offending file.

[2020-05-23 11:23] hyperfekt opened #205 "allow passing arguments to package.nix"
Currently the only way to get access to other Nix values from a package.nix is by importing them from the repository.
This works fine as long as a package is built by itself, but prevents overriding any of those values when it is built by another package.

[2020-05-23 11:41] hyperfekt opened #206 "prevent displaying lib64 on errors"
Maybe we can pass it as a file instead of as a string.

[2020-08-11 10:21] #185 closed

[2020-10-05 13:29] #200 closed

[2020-10-15 19:39] codygman commented on #188
I just checked and I'm still getting this error.

[2020-10-16 08:06] nmattia commented on #188
Hey, apologies, I missed the notification. I took the decision to stop maintaining snack because I just don't have the time anymore; I'll still gladly accept PRs. I'll make this clear in the README.